<div th:fragment="footerInclude">
  <div id="footer">
    <ul class="menu">
      <li class="header-links"><a href="https://launchacademy.com/" class="navLink">Launch Academy</a></li>
      <li class="header-links"><a href="https://github.com/murphy-codes/" class="vr-left navLink">Murphy Codes GitHub</a></li>
      <li class="header-links"><a href="https://learn.launchacademy.com/teams/boston-apprenti-3/curricula/on-campus-apprenti-3/lesson_groups/week_16:_api_development_with_spring/lessons/java-party-planner-part-1" class="vr-left navLink">Java Party Planner Part 1</a></li>
    </ul>
  </div>
</div>