# Untrack folders #
###################
rock-paper-scissors_c101/
Week_00/rock-paper-scissors_c101/
###################
## System Checks ##
Week_01/rock-paper-scissors-js/
Week_02/launch-sc-diner-menus-js/
Week_03/cohort-stats-js/
Week_04/launch-sc-space-industries-inc-js/
###################
## Week Folders ###
Week_05/
Week_06/
Week_07/
Week_08/
Week_09/
Week_10/
Week_11/
Week_12/
Week_13/
Week_14/
Week_15/
Week_16/
Week_17/
###################
##### Week 04 #####
Week_04/getting-oriented-with-css/
Week_04/style-the-stars/
Week_04/manipulating-a-webpage/
Week_04/implementing-a-page-layout/
Week_04/ignition-foundation-tutorial/
Week_04/css-launcher-resume/
Week_04/accessing-dom-elements-drills/
Week_04/modifying-dom-elements-drills/
###################
##### Week 03 #####
Week_03/pool-measurements-js
Week_03/javascript-classes-practice/
Week_03/launch-air-part-2/
Week_03/tdd-perimeter-function-js/
Week_03/high-card-dealer-js/
Week_03/at-a-conference/
Week_03/javascript-separation-of-concerns-practice/
Week_03/object-oriented-marathon-js/
Week_03/test-flight-js/
Week_03/bank-account-js/
##### Week 03 ##### Articles
Week_03/function-testing-tdd-and-javascript/
###################
##### Week 02 #####
Week_02/musical-objects-js/
Week_02/object-literal-methods-drills/
###################
##### Week 01 ##### Articles
Week_01/validating-user-input-js/



# Compiled source #
###################
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods

# Packages #
############
.gem/

# Logs and databases #
######################
.bash_history
.et
**.etignore
.viminfo

# OS generated files #
######################
.cache/

# Deal with Git #
######################
.gitconfig
# .gitignore # will remove later