<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Stores</title>
</head>
<body>
<h1>Stores</h1>

<div th:each="store : ${stores}">
  <div th:object="${store}">
    <h2 th:text="*{name}">Store name</h2>
    <p>Type <span th:text="*{type}"></span></p>
    <p>Average Cost <span th:text="*{averageCost}"></span></p>
    <p>Open: <span th:text="*{operatingStatus}"></span></p>
  </div>
</div>
<a href="/stores/new">Add a new store</a>
</body>
</html>
