<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Stores</title>
</head>
<body>
<h1>Add a New Store</h1>

<form action="#" th:action="@{/stores}" th:object="${store}" method="POST">

  <div>
    <label th:for="name">Name</label>
    <input type="text" th:field="*{name}" />
    <p th:errors="*{name}"></p>
  </div>

  <div>
    <label th:for="type">Type</label>
    <input type="text" th:field="*{type}" />
    <p th:errors="*{type}"></p>
  </div>

  <div>
    <label th:for="average_cost">Average Cost</label>
    <input type="number" th:field="*{averageCost}" />
    <p th:errors="*{averageCost}"></p>
  </div>

  <div>
    <label th:for="operating_status">Operating Status</label>
    <input type="radio" th:field="*{operatingStatus}" value="1" />
    <label th:for="operatingStatus">Open?</label>
    <input type="radio" th:field="*{operatingStatus}" value="0" />
    <label th:for="operatingStatus">Closed?</label>
    <p th:errors="*{operatingStatus}">Closed?</p>
  </div>

  <div>
    <input type="submit" value="Add Store" />
  </div>
  <a href="/stores">Back to list of stores</a>
</form>
</body>
</html>
