<h1>Create a New Book</h1>

<form action="/books.json" method="POST">
  <label for="book">Book name</label>:
  <input type="text" placeholder="book name" id="book" name="book" /><br><br>
  <input type="submit" value="Submit" />
</form>

<h2>
  <a href="/">Return home</a>
</h2>