<h1>Welcome One and All to the Magical Creatures Website!</h1>
<p>A description is forthcoming!</p>
<a href="/creatures/">Creatures</a><br><br>
<img src="/img/vampire.jpg" alt="A man with bloody claws stands snarling, exposing his fangs" width="320" height="480">
