<h1>Random Article</h1>

<h2>{{this.title}}</h2>
<p>{{this.description}}</p>
<a href="{{this.url}}" target=" _blank">Read more</a>

<h2>
  <a href="/articles/">Return to articles</a> |
  <a href="/articles/new">Add a New Article</a> |
  <a href="/random">View Random Articles</a>
</h2>