<h1>Random Articles</h1>

<ul id="random-articles-list"></ul>

<button id="fetch-random-article">Load a random article</button>

<h2>
  <a href="/articles/">Return to articles</a> |
  <a href="/articles/new">Add a New Article</a> |
  <a href="/random-article">View a Random Article</a>
</h2>