<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Add a New Crewmember</h1>

<form action="/crewmembers" method="POST" th:object="${crewMember}">
  <div>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" />
    <p th:errors="*{name}">Name Error</p>
  </div>
  <div>
    <label for="hobby">Hobby</label>
    <input type="text" th:field="*{hobby}" />
    <p th:errors="*{hobby}">Hobby Error</p>
  </div>
  <div>
    <label for="rank">Rank</label>
    <input type="text" th:field="*{rank}" />
    <p th:errors="*{rank}">Rank Error</p>
  </div>
  <div>
    <label for="toursAboard">Tours Aboard</label>
    <input type="number" th:field="*{toursAboard}" />
    <p th:errors="*{toursAboard}">Tours Aboard Error</p>
  </div>
  <div><input type="submit" value="Add Crewmember" /></div>
</form>
</body>
</html>